{% extends "auctions/layout.html" %}

{% block body %}
<div class="container"><h2> Watchlist </h2></div>
<div class="container" id="listing">
	{% for list in lists %}
	{% for l in list %}
		<div id="card-listing" class="card mb-3">
  			<div class="row no-gutters">
    			<div class="col-md-4">
      				<img src="{{l.link}}" class="card-img" alt="...">
    			</div>
    			<div class="col-md-8">
      				<div class="card-body">
        				<h5 class="card-title"> {{ l.title }} </h5>
        				<p class="card-text"> {{ l.description }} </p>
        				<p class="card-text"> $ {{ l.price }} </p>
        				<a href="{% url 'listingpage' l.id %}"><button class="btn btn-primary"> Bid </button></a>
        				<p class="card-text"><small class="text-muted"> {{ l.time }} </small></p>
      				</div>
    			</div>
  			</div>
		</div>
	{% endfor %}
	{% empty %}
	<h4> Your watchlist is EMPTY now :( </h4>
	{% endfor %}
</div>
{% endblock %}