{% extends "network/index.html" %}

{% block profilename %}
	<h1> {{ profilename }} </h1>
	<div id='follow'>
		{% if user.username %}
			{% if user.username != profilename %}
				{% if isfollowed %}
					<a href="{% url 'unfollowuser' profilename %}"><button class="btn btn-outline-danger"> Unfollow </button></a>
				{% else %}
					<a href="{% url 'followuser' profilename %}"><button class="btn btn-success"> Follow </button></a>
				{% endif %}
			{% endif %}
		{% endif %}
	</div>
	<div class="container">
		<div class="row"><h6> Following: {{ following }} </h6></div>
		<div class="row"><h6> Follower: {{ follower }} </h6></div>
	</div>
{% endblock %}

{% block allposts %}
	<h6> Posts by <cite> {{ profilename }} </cite></h6>
{% endblock %}