{% extends "auctions/layout.html" %}

{% block body%}
<div class="container">
	<!-- Title + Description -->
	<h2> {{ lists.title }} </h2>
	<img src="{{lists.link}}" width="50%" alt="...">
	<br><br>
	<h4> Description: </h4>
	<p> {{ lists.description }} </p>
	<br><br>
	<!-- Watchlist -->
	{% if user.username %}
	<p>
		{% if wladded %}
		<p> Click to remove from your watchlist </p>
		<a href="{% url 'removewatchlist' lists.id %}"><button class="btn btn-danger"> Remove </button></a>
		{% else %}
		<p> Click to add to your watchlist </p>
		<a href="{% url 'addwatchlist' lists.id %}"><button class="btn btn-primary"> Add </button></a>
		{% endif %}
	</p>
	<br><br>
	{% endif %}
	<!-- Bid -->
	<h4> Current Bid: $ {{ lists.price }}</h4>
	{% if user.username %}
		{% if owner %}
			<br><a href="{% url 'closebid' lists.id %}"><button class="btn btn-secondary"> Close Bid </button></a><br>
		{% endif %}
	{% endif %}
	<!-- Detail -->
	<h4> Details of the product: </h4>
	<ul>
		<li> Owner: {{ lists.owner }} </li>
		<li> Category: {{ lists.category }} </li>
		<li class="text-muted"> Created: {{ lists.time }} </li>
	</ul>
	<!-- Error Handle -->
	{% if error %}
		<div class="alert alert-danger" role="alert"> {{ error }} </div>
	{% elif errorgreen %}
		<div class="alert alert-success" role="alert"> {{ errorgreen }} </div>
	{% endif %}
	<!-- Place Bid -->
	{% if user.username %}
	<div class="container">
		<form action="{% url 'submitbid' lists.id %}" method="POST">
			{% csrf_token %}
			<div class="form-group row">
				<label for="bidinput" class="col-sm-2 col-form-label"> Place your Bid: $ </label>
				<div class="col-auto">
					<input type="number" class="form-control" id="bidinput" name="bid" placeholder="$$$">
				</div>
				<div class="col-auto">
					<button type="submit" class="btn btn-primary"> Submit </button>
				</div>
			</div>
		</form>
	</div>
	<br>
	<!-- Write Comment -->
	<div class="container">
		<form action="{% url 'submitcomment' lists.id %}" method="POST">
			{% csrf_token %}
			<div class="form-group">
				<label for="subcom"><b> Write a Comment: </b></label>
				<textarea class="form-control" id="subcom" rows='5' name="comment" placeholder="comments here"></textarea>
			</div>
			<button type="submit" class="btn btn-primary"> Submit </button>
		</form>
	</div>
	<br>
	{% endif %}
	<!-- Show Comment -->
	{% if comments %}
	<h4> Comments: </h4>
	<div class="container">
		{% for cmt in comments %}
		<div class="card">
        	<div class="card-header"> {{ cmt.user }} </div>
        	<div class="card-body">
        		<blockquote class="blockquote mb-0">
        			<p> {{ cmt.comment }} </p>
        			<footer class="blockquote-footer"><small class="text-muted"> {{ cmt.time }} </small></footer>
        		</blockquote>
			</div>
		</div>
		{% endfor %}
	</div>
	{% endif %}
</div>
{% endblock %}